extends layout
block append header
    link(rel="stylesheet", href="http://localhost/juanportal/public/stylesheets/index.css")
    link(rel="shortcut icon", href=`${logo}`)
block content
    // Main content
    div.container
        // Side bar list
        div.col-xs-2
            a(href="/add-profile") Add a Profile
            a(hidden="true")
        // Brief profiles
        div.col-xs-10.people
            each person in people
                div.person.well
                    div.col-xs-4
                        div
                            img.image(alt="Image of user", src=`${person.image}`)
                        div
                            br
                            a(href=`/profile?id=${person._id}`) View Profile
                        div
                            br
                            a(href=`/delete-profile?id=${person._id}`) Delete Profile
                    div.col-xs-8
                        h2.person-name #{person.name}
                br

    // Elements
    div.container
        p Showing standard elements
        p#welcome Hello Pug!
        button#button click me
    br
    // Access passed in variables
    div.container
        p Showing variables as text
        p#name Hello my name is #{name}
    br
    // Use variables inside an attribute
    div.container
        p Showing variables as attributes
        img(alt=`mr-${name}`)